<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of getList()">
          <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteRow(item.id)">Delete</button>
              </td>
          </tr>
        </ng-container>
      </tbody>
  </table>
</div>